In [19]:
import pandas as pd
import numpy as np

df = pd.read_csv('log_data_r1.csv', sep=';')

df

                                                                                                                                                                                               979fe29a-dbcc-4a5c-a3b2-05e0de74ebb7
day timestamp product          bid_price_1 bid_volume_1 bid_price_2 bid_volume_2 bid_price_3 bid_volume_3 ask_price_1 ask_volume_1 ask_price_2 ask_volume_2 ask_price_3 ask_volume_3 mid_price                      profit_and_loss
1   0         SQUID_INK        1834        23           NaN         NaN          NaN         NaN          1838        23           NaN         NaN          NaN         NaN          1836.0                                     0.0
              RAINFOREST_RESIN 9998        9            9995        23           NaN         NaN          10005       23           NaN         NaN          NaN         NaN          10001.5                                    0.0
              KELP             2032        23           NaN         NaN          NaN         NaN          2035        23           NaN         NaN          NaN         NaN          2033.5                                     0.0
    100       KELP             2034        1            2033        2            2032        22           2035        22           NaN         NaN          NaN         NaN          2034.5                                     0.0
...                                                                                                                                                                                                                             ...
    99800     SQUID_INK        1814        26           NaN         NaN          NaN         NaN          1817        26           NaN         NaN          NaN         NaN          1815.5                                     0.0
              RAINFOREST_RESIN 9996        1            9995        25           NaN         NaN          10002       5            10004       1            10005       25           9999.0                                  1971.0
    99900     SQUID_INK        1816        27           NaN         NaN          NaN         NaN          1819        28           NaN         NaN          NaN         NaN          1817.5                                     0.0
              RAINFOREST_RESIN 9998        6            9996        1            9995        27           10004       1            10005       27           NaN         NaN          10001.0                                 1971.0
              KELP             2034        27           NaN         NaN          NaN         NaN          2038        28           NaN         NaN          NaN         NaN          2036.0                                   212.0

[3001 rows x 1 columns]

In [26]:
import pandas as pd

# Load the file again but skip the first row if it's not the header
df = pd.read_csv('log_data_r1.csv', sep=';', header=1)

df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
0,1,0,SQUID_INK,1834,23,NaN,NaN,NaN,NaN,1838,23,NaN,NaN,NaN,NaN,1836.0,0.0
1,1,0,RAINFOREST_RESIN,9998,9,9995.0,23.0,NaN,NaN,10005,23,NaN,NaN,NaN,NaN,10001.5,0.0
2,1,0,KELP,2032,23,NaN,NaN,NaN,NaN,2035,23,NaN,NaN,NaN,NaN,2033.5,0.0
3,1,100,KELP,2034,1,2033.0,2.0,2032.0,22.0,2035,22,NaN,NaN,NaN,NaN,2034.5,0.0
4,1,100,SQUID_INK,1837,1,1836.0,2.0,1835.0,22.0,1839,22,NaN,NaN,NaN,NaN,1838.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1,99800,SQUID_INK,1814,26,NaN,NaN,NaN,NaN,1817,26,NaN,NaN,NaN,NaN,1815.5,0.0
2996,1,99800,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10002,5,10004.0,1.0,10005.0,25.0,9999.0,1971.0
2997,1,99900,SQUID_INK,1816,27,NaN,NaN,NaN,NaN,1819,28,NaN,NaN,NaN,NaN,1817.5,0.0
2998,1,99900,RAINFOREST_RESIN,9998,6,9996.0,1.0,9995.0,27.0,10004,1,10005.0,27.0,NaN,NaN,10001.0,1971.0
2999,1,99900,KELP,2034,27,NaN,NaN,NaN,NaN,2038,28,NaN,NaN,NaN,NaN,2036.0,212.0

In [27]:
# Clean column names just in case
df.columns = df.columns.str.strip()

# Convert profit column to numeric
df['profit_and_loss'] = pd.to_numeric(df['profit_and_loss'], errors='coerce')

# Group and sum PnL by product
pnl_by_product = df.groupby('product')['profit_and_loss'].sum().sort_values(ascending=False)

# Show the result
print(pnl_by_product)

product
RAINFOREST_RESIN    919493.000000
KELP                 96168.653076
SQUID_INK                0.000000
Name: profit_and_loss, dtype: float64